:root{
    --calendar-main-color: hsl(200, 100%, 50%);
    --calendar-table-color: hsl(200, 100%, 20%);
    --unavailable-days: hsl(0, 0%, 65%);
    --vailable-days: hsl(200, 100%, 90%);
    --current-day: hsl(200, 100%, 50%);
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
   
}

.date-picker-container{
    position: relative;
    margin: 0 0 4em 0;
    padding: 0;
    max-width: 350px;
}
.calendar-container{
    width: 100%;
    max-width: 350px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid var(--calendar-main-color);
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 10;
    display: none; 
    background: #fff;
}
.show{
    display: block;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em;
    background: var(--calendar-main-color);
    color: white;
}
.calendar-container table{
    width: 100%;
    color: var(--calendar-table-color);
}
.calendar-container th {
    padding: 5px 0px;
    text-align: center;
}
.calendar-container td {
    padding: 10px;
    text-align: center;
}
.unavailable-days{
    color: var(--unavailable-days);
}
.available-days{
    background: var(--vailable-days);
   
}
.current-day{
    border-radius: 5px;
    background: var(--current-day);
    color: white;
}   
.calendar-container .arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    color: hsl(195, 100%, 45%);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    width: 20px;
    height: 30px;
}